<img src='https://blog.kakaocdn.net/dn/zy1Or/btqM39h0uLB/fHnntePsHiwAIFStdqGsLk/img.png' width=300 align="left"/>

# pandas 기초1 : 데이터프레임 생성 및 탐색

## 1.데이터프레임 생성

### (1) 데이터프레임 이해

#### 1) 데이터프레임이란


- Pandas 사용 목적이 데이터프레임을 사용하기 위한 목적으로 봐도 됩니다.
- 데이터를 처리, 조회, 분석하는 가장 효율적인 방법이 데이터프레임을 사용하는 것입니다.
- 일반적으로 접하게 되는 **테이블** 형태, **엑셀** 형태로 생각하시면 됩니다.
- 직접 만들 수 있으나 보통은 **csv 파일**, **엑셀 파일** 또는 DB에서 읽어옵니다.

<img src='https://raw.githubusercontent.com/Jangrae/img/master/dataframe_sample.png' width=800 align="left"/>

#### 2) 데이터프레임 형태

- 데이터프레임은 **인덱스(=행 이름)**와 **열 이름**이 있고 없고에 따라 다른 형태를 갖습니다.
- 인덱스란 행을 지정할 때 사용하는 정보이고, 열 이름은 열을 지정할 때 사용하는 정보입니다.

<img src='https://raw.githubusercontent.com/Jangrae/img/master/dataframe05.png' width=450 align="left"/>

**① 인덱스와 열 이름이 없는 형태**

- 우선 인덱스와 열 이름이 없는 데이터프레임 형태입니다.
- 열 이름이 없는 데이터프레임은 실무에서는 자주 볼 수 없을 것입니다.

<img src='https://raw.githubusercontent.com/Jangrae/img/master/dataframe01.png' width=380 align="left"/>

**② 열 이름을 지정한 형태**

- 열 이름만 지정한 데이터프레임 형태입니다.
- 특별히 인덱스를 지정할 필요가 없는 경우가 많으므로 자주 보게 되는 형태입니다.

<img src='https://raw.githubusercontent.com/Jangrae/img/master/dataframe02.png' width=380 align="left"/>

**③ 인덱스와 열 이름을 지정한 형태**

- 인덱스와 열 이름 모두를 지정한 데이터프레임 형태입니다.
- 대부분 주식 시세와 같은 날짜가 인덱스로 지정되는 경우입니다.

<img src='https://raw.githubusercontent.com/Jangrae/img/master/dataframe03.png' width=350 align="left"/>

### (2) 데이터프레임 직접 만들기

- **pd.DataFrame()** 함수를 사용해 데이터프레임을 직접 만들 수 있습니다.
- 대부분 리스트, 딕셔너리, Numpy 배열로부터 데이터프레임을 만듭니다.
- 데이터프레임을 만들기 위해서는 다음 세 가지를 위한 데이터가 필요합니다.
    - 데이터
    - 열 이름
    - 인덱스 이름
- 열 이름을 지정하지 않으면 **열 번호**에 기반한 정수(0, 1, 2...)가 열 이름이 됩니다.
- 인덱스 이름을 지정하지 않으면 **행 번호**에 기반한 정수(0, 1, 2...)가 인덱스 이름이 됩니다.

#### 1) 라이브러리 불러오기

- 데이터프레임을 사용하기 위해서 pandas 라이브러리를 pd 별칭을 주어 불러옵니다.

In [1]:
# 라이브러리 불러오기
import pandas as pd

#### 2) 딕셔너리로 만들기

- 딕셔너리로 데이터프레임을 만들면 딕셔너리의 **키**가 **열 이름**이 됩니다.
- 인덱스를 지정하지 않으면 행 번호가 인덱스가 됩니다.

In [2]:
# 딕셔너리 만들기
dict1 = {'Name': ['Gildong', 'Sarang', 'Jiemae', 'Yeoin'],
        'Level': ['Gold', 'Bronze', 'Silver', 'Gold'],
        'Score': [56000, 23000, 44000, 52000]}

# 확인
print(dict1)

{'Name': ['Gildong', 'Sarang', 'Jiemae', 'Yeoin'], 'Level': ['Gold', 'Bronze', 'Silver', 'Gold'], 'Score': [56000, 23000, 44000, 52000]}

In [3]:
# 데이터프레임 만들기
df = pd.DataFrame(dict1)

# 확인
print(df.head())

      Name   Level  Score
0  Gildong    Gold  56000
1   Sarang  Bronze  23000
2   Jiemae  Silver  44000
3    Yeoin    Gold  52000

### (3) CSV파일 읽어오기

- 분석용 데이터는 대부분 파일에서 읽어 가져오니 잘 익혀야 할 기능입니다.
- **read_csv()** 함수를 사용해서 CSV 파일에서 데이터를 읽어옵니다.

**[titanic_simple 데이터 셋 정보]**

- PassengerId : 승객번호
- Survived : 생존여부(1:생존, 0:사망)
- Pclass : 객실등급(1:1등급, 2:2등급, 3:3등급)
- Name : 승객이름
- Sex : 성별(male, female)
- Age : 나이
- Fare : 운임($)
- Embarked : 승선지역(Southhampton, Cherbourg, Queenstown)

In [4]:
# 데이터 읽어오기
path = 'https://raw.githubusercontent.com/DA4BAM/dataset/master/titanic_simple.csv'
data = pd.read_csv(path)

# 상위 10행만 확인
data.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,7.2500,Southampton
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,71.2833,Cherbourg
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,7.9250,Southampton
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,53.1000,Southampton
4,5,0,3,"Allen, Mr. William Henry",male,35.0,8.0500,Southampton
5,6,0,3,"Moran, Mr. James",male,NaN,8.4583,Queenstown
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,51.8625,Southampton
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,21.0750,Southampton
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,11.1333,Southampton
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,30.0708,Cherbourg

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align="left"/>

[문1] 아래 주어진 경로의 파일에서 데이터를 읽어와 데이터프레임 temp 만들어 보세요.

- 파일 경로: 'https://raw.githubusercontent.com/DA4BAM/dataset/master/Attrition_simple2.CSV'

**[Attrition 데이터 셋 정보]**

|	구분	|	변수 명	|	내용	|	type	|	비고	|
|----|----|----|----|----|
|	**Target**	|	**Attrition**	|	이직여부, Yes , No	|	범주	| 1- 이직, 0- 잔류		|
|	feature	|	Age	|	나이	|	숫자	|		|
|	feature	|	DistanceFromHome	|	집-직장 거리	|	숫자	|	마일	|
|	feature	|	EmployNumber	|	사번	|	숫자	| 	|
|	feature	|	Gender	|	성별	|	범주	| Male, Female		|
|	feature	|	JobSatisfaction	|	직무 만족도	|	범주	|	1 Low, 2 Medium, 3 High, 4 Very High	|
|	feature	|	MaritalStatus	|	결혼상태	|	범주	| Single, Married, Divorced		|
|	feature	|	MonthlyIncome	|	월급	|	숫자	| 달러	|
|	feature	|	OverTime	|	야근여부	|	범주	|	Yes, No	|
|	feature	|	PercentSalaryHike	|	전년대비 급여인상율	|	숫자	|	%	|
|	feature	|	TotalWorkingYears	|	총 경력 연수	|	숫자	|		|

In [6]:
# 데이터 읽어오기
file_url = 'https://raw.githubusercontent.com/DA4BAM/dataset/master/Attrition_simple2.CSV'
temp = pd.read_csv(file_url)

# 상위 5개 확인
temp.head()

,Attrition,Age,DistanceFromHome,EmployeeNumber,Gender,JobSatisfaction,MaritalStatus,MonthlyIncome,OverTime,PercentSalaryHike,TotalWorkingYears
0,0,33,7,817,Male,3,Married,11691,No,11,14
1,0,35,18,1412,Male,4,Single,9362,No,11,10
2,0,42,6,1911,Male,1,Married,13348,No,13,18
3,0,46,2,1204,Female,1,Married,17048,No,23,28
4,1,22,4,593,Male,3,Single,3894,No,16,4

[문2] csv file로부터 읽어옵시다.

- 파일 이름 : 'airquality_simple.csv'
- 파일을 home directory로 복사해 넣고 읽어 옵니다.

**[airquality_simple 데이터 셋 정보]**

- Ozone : 오존농도
- Solar.R: 태양복사열
- Wind: 풍속
- Temp: 기온
- Month: 월
- Day: 일

In [7]:
# 구글 드라이브 Mount
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [9]:
# 데이터 읽어오기
file_url = "/content/drive/MyDrive/kt-aivle/2024.09/2024.09.06/airquality_simple.csv"
df = pd.read_csv(file_url)

# 상위 5개 확인
df.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0     41    190.0   7.4    67      5    1
1     36    118.0   8.0    72      5    2
2     12    149.0  12.6    74      5    3
3     18    313.0  11.5    62      5    4
4     19      NaN  14.3    56      5    5

## 2.데이터프레임 탐색

- 파일에서 불러온 데이터의 크기, 내용, 분포, 누락된 값 등을 확인할 수 있어야 합니다.
- 확인된 내용을 통해 데이터 전처리 필요 여부를 결정합니다.
- 데이터를 알아야 데이터를 분석할 수 있습니다.

In [10]:
# 라이브러리 불러오기
import pandas as pd

* Attrition 데이터 불러오기

**[Attrition 데이터 셋 정보]**

|	구분	|	변수 명	|	내용	|	type	|	비고	|
|----|----|----|----|----|
|	**Target**	|	**Attrition**	|	이직여부, Yes , No	|	범주	| 1- 이직, 0- 잔류		|
|	feature	|	Age	|	나이	|	숫자	|		|
|	feature	|	DistanceFromHome	|	집-직장 거리	|	숫자	|	마일	|
|	feature	|	EmployNumber	|	사번	|	숫자	| 	|
|	feature	|	Gender	|	성별	|	범주	| Male, Female		|
|	feature	|	JobSatisfaction	|	직무 만족도	|	범주	|	1 Low, 2 Medium, 3 High, 4 Very High	|
|	feature	|	MaritalStatus	|	결혼상태	|	범주	| Single, Married, Divorced		|
|	feature	|	MonthlyIncome	|	월급	|	숫자	| 달러	|
|	feature	|	OverTime	|	야근여부	|	범주	|	Yes, No	|
|	feature	|	PercentSalaryHike	|	전년대비 급여인상율	|	숫자	|	%	|
|	feature	|	TotalWorkingYears	|	총 경력 연수	|	숫자	|		|

In [11]:
# 데이터 읽어오기
path = 'https://raw.githubusercontent.com/DA4BAM/dataset/master/Attrition_simple2.CSV'
data = pd.read_csv(path)

# 상위 5개 확인
data.head(5)

,Attrition,Age,DistanceFromHome,EmployeeNumber,Gender,JobSatisfaction,MaritalStatus,MonthlyIncome,OverTime,PercentSalaryHike,TotalWorkingYears
0,0,33,7,817,Male,3,Married,11691,No,11,14
1,0,35,18,1412,Male,4,Single,9362,No,11,10
2,0,42,6,1911,Male,1,Married,13348,No,13,18
3,0,46,2,1204,Female,1,Married,17048,No,23,28
4,1,22,4,593,Male,3,Single,3894,No,16,4

**[참고] 자주 사용할 만한 메서드들**

- head(): 상위 데이터 확인
- tail(): 하위 데이터 확인
- shape: 데이터프레임 크기
- values: 값 정보 확인(저장하면 2차원 numpy 배열이 됨)
- columns: 열 정보 확인
- dtypes: 열 자료형 확인
- info(): 열에 대한 상세한 정보 확인
- describe(): 기초통계정보 확인

### (1) 상위, 하위 일부 데이터, 크기 확인

- **head(*n*), tail(*n*)** 메소드를 사용해 앞 뒤 데이터를 확인합니다.
- 개수를 지정하지 않으면 기본적으로 5개 행이 조회됩니다.

#### **1) 상위 데이터 확인**

In [12]:
# 상위 10개 행 데이터
data.head(10)

,Attrition,Age,DistanceFromHome,EmployeeNumber,Gender,JobSatisfaction,MaritalStatus,MonthlyIncome,OverTime,PercentSalaryHike,TotalWorkingYears
0,0,33,7,817,Male,3,Married,11691,No,11,14
1,0,35,18,1412,Male,4,Single,9362,No,11,10
2,0,42,6,1911,Male,1,Married,13348,No,13,18
3,0,46,2,1204,Female,1,Married,17048,No,23,28
4,1,22,4,593,Male,3,Single,3894,No,16,4
5,0,24,21,1551,Male,1,Divorced,2296,No,14,2
6,0,34,8,2068,Male,3,Married,4404,No,12,6
7,0,30,20,1084,Male,1,Married,9957,No,15,7
8,0,26,6,686,Female,4,Married,2659,Yes,13,3
9,1,24,3,720,Female,3,Single,4577,No,14,4

#### **2) 하위 데이터 확인**

In [13]:
# 하위 3개 행 데이터
data.tail(3)

,Attrition,Age,DistanceFromHome,EmployeeNumber,Gender,JobSatisfaction,MaritalStatus,MonthlyIncome,OverTime,PercentSalaryHike,TotalWorkingYears
1193,0,29,9,1558,Male,3,Married,2451,No,18,5
1194,0,29,2,469,Male,3,Married,4649,No,14,4
1195,0,43,16,327,Female,4,Married,16064,Yes,22,22

#### **3) 크기 확인 .shape**

- **(rows, cols)** 값을 갖는 **튜플** 형태로 확인이 가능합니다.
- 데이터를 분석할 때 처리할 **데이터 양을 확인**하는 목적으로 많이 사용 합니다.

In [14]:
# 행 수와 열 수 확인
data.shape

(1196, 11)

### (2) 열, 행 정보 보기

#### **1) 열 확인**

In [15]:
# 열 확인
print(data.columns)
print(data.columns.values) # np array 형태

Index(['Attrition', 'Age', 'DistanceFromHome', 'EmployeeNumber', 'Gender',
       'JobSatisfaction', 'MaritalStatus', 'MonthlyIncome', 'OverTime',
       'PercentSalaryHike', 'TotalWorkingYears'],
      dtype='object')
['Attrition' 'Age' 'DistanceFromHome' 'EmployeeNumber' 'Gender'
 'JobSatisfaction' 'MaritalStatus' 'MonthlyIncome' 'OverTime'
 'PercentSalaryHike' 'TotalWorkingYears']

In [16]:
# 데이터프레임을 리스트 함수에 넣으면 열 이름이 리스트로 반환됨.
list(data)

['Attrition',
 'Age',
 'DistanceFromHome',
 'EmployeeNumber',
 'Gender',
 'JobSatisfaction',
 'MaritalStatus',
 'MonthlyIncome',
 'OverTime',
 'PercentSalaryHike',
 'TotalWorkingYears']

#### **2) 자료형 확인**
- int64: 정수형 데이터(int)
- float64: 실수형 데이터(float)
- object: 문자열 데이터(string)

In [17]:
# 열 자료형 확인
data.dtypes

Attrition             int64
Age                   int64
DistanceFromHome      int64
EmployeeNumber        int64
Gender               object
JobSatisfaction       int64
MaritalStatus        object
MonthlyIncome         int64
OverTime             object
PercentSalaryHike     int64
TotalWorkingYears     int64
dtype: object

In [18]:
# 열 자료형, 값 개수 확인
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1196 entries, 0 to 1195
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Attrition          1196 non-null   int64
 1   Age                1196 non-null   int64
 2   DistanceFromHome   1196 non-null   int64
 3   EmployeeNumber     1196 non-null   int64
 4   Gender             1196 non-null   object
 5   JobSatisfaction    1196 non-null   int64
 6   MaritalStatus      1196 non-null   object
 7   MonthlyIncome      1196 non-null   int64
 8   OverTime           1196 non-null   object
 9   PercentSalaryHike  1196 non-null   int64
 10  TotalWorkingYears  1196 non-null   int64
dtypes: int64(8), object(3)
memory usage: 102.9+ KB

#### **3) 기초통계정보 확인**

- describe() 메소드는 데이터에 대한 많은 정보를 제공하는 매우 중요한 메소드입니다.
- 데이터분석과정에서 자세히 살펴볼 예정이므로 여기서는 **가볍게 실행만** 해봅니다.
- 개수(count), 평균(mean), 표준편차(std), 최솟값(min), 사분위값(25%, 50%, 75%), 최댓값(max)을 표시합니다.

In [19]:
# 기초통계정보
data.describe()

,Attrition,Age,DistanceFromHome,EmployeeNumber,JobSatisfaction,MonthlyIncome,PercentSalaryHike,TotalWorkingYears
count,1196.000000,1196.00000,1196.000000,1196.000000,1196.000000,1196.000000,1196.000000,1196.000000
mean,0.163043,36.94398,9.258361,1035.629599,2.716555,6520.104515,15.251672,11.330268
std,0.369560,9.09270,8.166016,604.340130,1.110962,4665.902253,3.625946,7.823821
min,0.000000,18.00000,1.000000,1.000000,1.000000,1009.000000,11.000000,0.000000
25%,0.000000,30.00000,2.000000,507.750000,2.000000,2928.250000,12.000000,6.000000
50%,0.000000,36.00000,7.000000,1028.000000,3.000000,4973.500000,14.000000,10.000000
75%,0.000000,43.00000,14.000000,1581.250000,4.000000,8420.500000,18.000000,15.000000
max,1.000000,60.00000,29.000000,2068.000000,4.000000,19999.000000,25.000000,40.000000

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align="left"/>

[문1] 다음 경로의 파일을 읽어와 air 데이터프레임으로 저장하세요.

- 파일 경로: 'https://raw.githubusercontent.com/DA4BAM/dataset/master/airquality_simple.csv'

In [20]:
# 데이터 읽어오기
file_url = 'https://raw.githubusercontent.com/DA4BAM/dataset/master/airquality_simple.csv'
df = pd.read_csv(file_url)

[문2] 데이터프레임 관련 정보를 확인하세요.

In [21]:
# 상위 데이터 확인
df.head()

   Ozone  Solar.R  Wind  Temp        Date
0     41    190.0   7.4    67  1973-05-01
1     36    118.0   8.0    72  1973-05-02
2     12    149.0  12.6    74  1973-05-03
3     18    313.0  11.5    62  1973-05-04
4     19      NaN  14.3    56  1973-05-05

In [22]:
# 크기 확인
df.shape

(153, 5)

In [23]:
# 열 이름 확인
list(df)

['Ozone', 'Solar.R', 'Wind', 'Temp', 'Date']

In [24]:
# 열 자료형, 값 개수 확인
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Ozone    153 non-null    int64
 1   Solar.R  146 non-null    float64
 2   Wind     153 non-null    float64
 3   Temp     153 non-null    int64
 4   Date     153 non-null    object
dtypes: float64(2), int64(2), object(1)
memory usage: 6.1+ KB

In [25]:
# 기초통계정보 확인
df.describe()

            Ozone     Solar.R        Wind        Temp
count  153.000000  146.000000  153.000000  153.000000
mean    42.052288  185.931507    9.957516   77.882353
std     30.156127   90.058422    3.523001    9.465270
min      1.000000    7.000000    1.700000   56.000000
25%     20.000000  115.750000    7.400000   72.000000
50%     34.000000  205.000000    9.700000   79.000000
75%     59.000000  258.750000   11.500000   85.000000
max    168.000000  334.000000   20.700000   97.000000

### (3) 정렬해서 보기

- 인덱스를 기준으로 정렬하는 방법과 특정 열을 기준으로 정렬하는 방법이 있습니다.
- **sort_values()** 메소드로 **특정 열**을 기준으로 정렬합니다.
- **ascending** 옵션을 설정해 오름차순, 내림차순을 설정할 수 있습니다.
    - ascending=True: 오름차순 정렬(기본값)
    - ascending=False: 내림차순 정렬

In [26]:
# 단일 열 정렬
data.sort_values(by='MonthlyIncome', ascending=False)

,Attrition,Age,DistanceFromHome,EmployeeNumber,Gender,JobSatisfaction,MaritalStatus,MonthlyIncome,OverTime,PercentSalaryHike,TotalWorkingYears
240,0,52,1,259,Male,3,Married,19999,No,14,34
234,0,41,7,1035,Female,3,Divorced,19973,No,22,21
322,0,56,4,1191,Female,1,Divorced,19943,No,13,28
530,0,50,11,226,Female,2,Single,19926,No,15,21
532,1,55,2,787,Male,1,Married,19859,Yes,13,24
...,...,...,...,...,...,...,...,...,...,...,...
150,1,29,24,1928,Male,1,Single,1091,No,17,1
1118,1,30,9,1876,Male,4,Single,1081,No,13,1
709,0,28,10,1056,Male,2,Married,1052,No,22,1
862,0,18,5,1012,Male,4,Single,1051,No,15,0
91,1,20,10,701,Male,3,Single,1009,Yes,11,1

In [27]:
# 복합 열 정렬
data.sort_values(by=['JobSatisfaction', 'MonthlyIncome'], ascending=[True, False])

,Attrition,Age,DistanceFromHome,EmployeeNumber,Gender,JobSatisfaction,MaritalStatus,MonthlyIncome,OverTime,PercentSalaryHike,TotalWorkingYears
322,0,56,4,1191,Female,1,Divorced,19943,No,13,28
532,1,55,2,787,Male,1,Married,19859,Yes,13,24
273,0,58,1,1423,Female,1,Married,19701,Yes,21,32
418,0,60,7,549,Female,1,Married,19566,No,11,33
685,0,54,5,522,Male,1,Married,19406,No,11,24
...,...,...,...,...,...,...,...,...,...,...,...
197,0,31,2,1974,Female,4,Divorced,1129,Yes,11,1
386,1,25,24,1273,Male,4,Single,1118,Yes,14,1
684,1,19,2,243,Male,4,Single,1102,No,22,1
1118,1,30,9,1876,Male,4,Single,1081,No,13,1
862,0,18,5,1012,Male,4,Single,1051,No,15,0

In [28]:
# 복합 열 정렬 : 별도로 저장하고, 인덱스 reset
temp = data.sort_values(by=['JobSatisfaction', 'MonthlyIncome'], ascending=[True, False])
temp.reset_index(drop = True)

,Attrition,Age,DistanceFromHome,EmployeeNumber,Gender,JobSatisfaction,MaritalStatus,MonthlyIncome,OverTime,PercentSalaryHike,TotalWorkingYears
0,0,56,4,1191,Female,1,Divorced,19943,No,13,28
1,1,55,2,787,Male,1,Married,19859,Yes,13,24
2,0,58,1,1423,Female,1,Married,19701,Yes,21,32
3,0,60,7,549,Female,1,Married,19566,No,11,33
4,0,54,5,522,Male,1,Married,19406,No,11,24
...,...,...,...,...,...,...,...,...,...,...,...
1191,0,31,2,1974,Female,4,Divorced,1129,Yes,11,1
1192,1,25,24,1273,Male,4,Single,1118,Yes,14,1
1193,1,19,2,243,Male,4,Single,1102,No,22,1
1194,1,30,9,1876,Male,4,Single,1081,No,13,1
1195,0,18,5,1012,Male,4,Single,1051,No,15,0

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align="left"/>

[문1] 다음 경로의 파일을 읽어와 데이터프레임으로 저장하세요.

- 파일 경로: 'https://raw.githubusercontent.com/DA4BAM/dataset/master/airquality_simple.csv'

In [29]:
# 데이터 읽어오기
file_url = 'https://raw.githubusercontent.com/DA4BAM/dataset/master/airquality_simple.csv'
df = pd.read_csv(file_url)

[문2] Ozone 열을 기준으로 내림차순 정렬해서 조회하세요.

In [30]:
# 내림차순 정렬
df.sort_values('Ozone', axis=0, ascending=False)

     Ozone  Solar.R  Wind  Temp        Date
116    168    238.0   3.4    81  1973-08-25
61     135    269.0   4.1    84  1973-07-01
98     122    255.0   4.0    89  1973-08-07
120    118    225.0   2.3    94  1973-08-29
29     115    223.0   5.7    79  1973-05-30
..     ...      ...   ...   ...         ...
10       7      NaN   6.9    74  1973-05-11
75       7     48.0  14.3    80  1973-07-15
17       6     78.0  18.4    57  1973-05-18
22       4     25.0   9.7    61  1973-05-23
20       1      8.0   9.7    59  1973-05-21

[153 rows x 5 columns]

[문3] Wind 열을 기준으로 내름차순 정렬해서 상위 10개 행만 조회하세요.

In [31]:
# 오름차순 정렬
df.sort_values('Wind', axis=0, ascending=True).head(10)

     Ozone  Solar.R  Wind  Temp        Date
52      70     59.0   1.7    76  1973-06-22
120    118    225.0   2.3    94  1973-08-29
125     73    183.0   2.8    93  1973-09-03
116    168    238.0   3.4    81  1973-08-25
98     122    255.0   4.0    89  1973-08-07
61     135    269.0   4.1    84  1973-07-01
126     91    189.0   4.6    93  1973-09-04
97      66      NaN   4.6    87  1973-08-06
53      69     91.0   4.6    76  1973-06-23
65      64    175.0   4.6    83  1973-07-05

### (4) 기본 집계

- 데이터를 좀더 이해하기 위해 고유값, 합, 평균, 최댓값, 최솟값 등을 확인합니다.

#### 1) 고유값 확인

- 범주형 열(열이 가진 값이 일정한 값인 경우, 성별, 등급 등)인지 확인할 때 사용합니다.

**① 고유값 확인**

- unique() 메소드로 고유값을 확인하며, 결괏값은 배열 형태가 됩니다.

In [32]:
# MaritalStatus 열 고유값 확인
print(data['MaritalStatus'].unique())

['Married' 'Single' 'Divorced']

**② 고유값과 개수 확인**

- value_counts() 메소드로 고유값과 그 개수를 확인하며, 결괏값은 시리즈 형태가 됩니다.

In [33]:
# MaritalStatus 열 고유값 개수 확인
print(data['MaritalStatus'].value_counts())

MaritalStatus
Married     548
Single      384
Divorced    264
Name: count, dtype: int64

#### 2) 기본 집계 메소드 사용

- 데이터를 1차 집계 한 후 분석을 진행하는 경우가 많으므로 필히 알아두어야 할 내용입니다.
- 이후에 배우는 Groupby 기능에서 같이 사용됩니다.

In [34]:
# MonthlyIncome 열 합계 조회
print(data['MonthlyIncome'].sum())

7798045

In [35]:
# MonthlyIncome 열 최댓값 조회
print(data['MonthlyIncome'].max())

19999

In [36]:
# 'Age', 'MonthlyIncome' 열 평균값 확인
print(data[['Age', 'MonthlyIncome']].mean())

Age                36.943980
MonthlyIncome    6520.104515
dtype: float64

In [37]:
# 'Age', 'MonthlyIncome' 열 중앙값 확인
print(data[['Age', 'MonthlyIncome']].median())

Age                36.0
MonthlyIncome    4973.5
dtype: float64

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align="left"/>

[문1] 다음 경로의 파일을 읽어와 데이터프레임으로 저장하세요.

- 파일 경로: 'https://raw.githubusercontent.com/DA4BAM/dataset/master/airquality_simple.csv'

In [38]:
# 데이터 읽어오기
file_url = 'https://raw.githubusercontent.com/DA4BAM/dataset/master/airquality_simple.csv'
df = pd.read_csv(file_url)

[문2] Ozone 최댓값을 확인하세요.

In [39]:
print(df['Ozone'].max())

168

[문3] Temp, Wind 최솟값을 확인하세요.

In [40]:
print(df[['Temp', 'Wind']].min())

Temp    56.0
Wind     1.7
dtype: float64

### (5) 복습문제

1) pandas 라이브러리를 pd 별칭을 주어 불러오세요.

In [41]:
# 라이브러리 불러오기
import pandas as pd

2) read_csv() 함수를 사용해 다음 경로의 파일을 불러와 **titanic** 데이터프레임을 만드세요.

- 파일 경로: https://raw.githubusercontent.com/DA4BAM/dataset/master/titanic_simple.csv

**[titanic_simple 데이터 셋 정보]**

- PassengerId : 승객번호
- Survived : 생존여부(1:생존, 0:사망)
- Pclass : 객실등급(1:1등급, 2:2등급, 3:3등급)
- Name : 승객이름
- Sex : 성별(male, female)
- Age : 나이
- Fare : 운임($)
- Embarked : 승선지역(Southhampton, Cherbourg, Queenstown)

In [42]:
# 파일 읽어오기
file_url = 'https://raw.githubusercontent.com/DA4BAM/dataset/master/titanic_simple.csv'
titanic = pd.read_csv(file_url)

3) head() 메소드로 상위 10개 행 데이터를 확인하세요.

In [43]:
# 상위 10행 출력
titanic.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,7.2500,Southampton
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,71.2833,Cherbourg
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,7.9250,Southampton
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,53.1000,Southampton
4,5,0,3,"Allen, Mr. William Henry",male,35.0,8.0500,Southampton
5,6,0,3,"Moran, Mr. James",male,NaN,8.4583,Queenstown
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,51.8625,Southampton
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,21.0750,Southampton
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,11.1333,Southampton
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,30.0708,Cherbourg

4) shape 속성을 사용해 행과 열의 개수를 확인하세요.

In [44]:
# 크기 확인
titanic.shape

(891, 8)

5) dtype 속성을 사용해 각 열의 데이터 형식을 확인하세요.

In [45]:
# 열 데이터 형식 확인
titanic.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
Fare           float64
Embarked        object
dtype: object

6) info() 메소드를 사용해 각 열의 값 개수와 데이터 형식 등을 한 번에 확인하세요.

In [46]:
# 열 정보 확인
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   Fare         891 non-null    float64
 7   Embarked     889 non-null    object
dtypes: float64(2), int64(3), object(3)
memory usage: 55.8+ KB

7) describe() 함수를 사용해 기초통계정보를 확인하세요.

In [47]:
# 기초통계정보 확인
titanic.describe()

       PassengerId    Survived      Pclass         Age        Fare
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118   32.204208
std     257.353842    0.486592    0.836071   14.526497   49.693429
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    7.910400
50%     446.000000    0.000000    3.000000   28.000000   14.454200
75%     668.500000    1.000000    3.000000   38.000000   31.000000
max     891.000000    1.000000    3.000000   80.000000  512.329200

8) value_counts() 메소드를 사용해 다음 두 열의 고유값과 그 개수를 각각
확인하세요.

- Embarked
- Pclass

In [51]:
# 고유값 개수 확인
titanic.value_counts(['Embarked', 'Pclass'])

Embarked     Pclass
Southampton  3         353
             2         164
             1         127
Cherbourg    1          85
Queenstown   3          72
Cherbourg    3          66
             2          17
Queenstown   2           3
             1           2
Name: count, dtype: int64

9) Age, Fare 두 열의 최댓값을 한 번에 확인하세요.

In [52]:
titanic[['Age', 'Fare']].max()

Age      80.0000
Fare    512.3292
dtype: float64

10) Fare 열을 기준으로 내림차순 정렬해서 상위 10개를 조회하세요.

In [53]:
titanic.sort_values(['Fare'], axis=0, ascending=False).head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,Fare,Embarked
258,259,1,1,"Ward, Miss. Anna",female,35.0,512.3292,Cherbourg
737,738,1,1,"Lesurer, Mr. Gustave J",male,35.0,512.3292,Cherbourg
679,680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.0,512.3292,Cherbourg
88,89,1,1,"Fortune, Miss. Mabel Helen",female,23.0,263.0000,Southampton
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,263.0000,Southampton
341,342,1,1,"Fortune, Miss. Alice Elizabeth",female,24.0,263.0000,Southampton
438,439,0,1,"Fortune, Mr. Mark",male,64.0,263.0000,Southampton
311,312,1,1,"Ryerson, Miss. Emily Borie",female,18.0,262.3750,Cherbourg
742,743,1,1,"Ryerson, Miss. Susan Parker ""Suzette""",female,21.0,262.3750,Cherbourg
118,119,0,1,"Baxter, Mr. Quigg Edmond",male,24.0,247.5208,Cherbourg